<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_NAME">market-data-bybit-module</Property>
        <Property name="ENV">${env:ENVIRONMENT:-dev}</Property>
        <Property name="APP_LOG_LEVEL">${sys:log.level.app:-INFO}</Property>
        <Property name="ROOT_LOG_LEVEL">${sys:log.level.root:-INFO}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="TRACE"/>
        </Console>

        <RollingFile name="JsonFile"
                     fileName="logs/${APP_NAME}.json"
                     filePattern="logs/${APP_NAME}-%d{yyyy-MM-dd}-%i.json.gz">
            <JsonLayout compact="true" eventEol="true" properties="true">
                <KeyValuePair key="application" value="${APP_NAME}"/>
                <KeyValuePair key="environment" value="${ENV}"/>
            </JsonLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="ErrorFile"
                     fileName="logs/error.json"
                     filePattern="logs/error-%d{yyyy-MM-dd}-%i.json.gz">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="type" value="error"/>
            </JsonLayout>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>

        <Async name="AsyncJson">
            <AppenderRef ref="JsonFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="io.github.ijlijapol" level="${APP_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="Console">
                <Condition>
                    <If condition='"${ENV}" == "dev"'/>
                </Condition>
            </AppenderRef>
            <AppenderRef ref="AsyncJson">
                <Condition>
                    <If condition='"${ENV}" = "prod"'/>
                </Condition>
            </AppenderRef>
        </Logger>

        <Root level="${ROOT_LOG_LEVEL}">
            <AppenderRef ref="Console">
                <Condition>
                    <If condition='"${ENV}" == "dev"'/>
                </Condition>
            </AppenderRef>
            <AppenderRef ref="AsyncJson">
                <Condition>
                    <If condition='"${ENV}" = "prod"'/>
                </Condition>
            </AppenderRef>
        </Root>
    </Loggers>
</Configuration>